<h1>Student list</h1>
<table border="1" cellpadding="8" cellspacing="0">
	<tr>
		<th>ID</th><th>Firstname</th><th>Lastname</th><th>Email</th><th>Detail</th><th>Delete</th>
    </tr>
    <% @students.each do |student| %>
        <tr>
            <td><%= student.id %></td>
            <td><%= student.firstname %></td>
            <td><%= student.lastname %></td>
            <td><%= student.email %></td>
            <td><a href="/students/<%= student.id %>">details</a></td>
            
            <td>
                <form action="/students/<%=student.id%>" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <input type="submit" type="button" class="btn btn-danger btn-sm" value="delete">
                </form>
            </td> 
            
        </tr>
    <% end %>
</table>
<br>
    <a href="/students/new">Add a new student</a>
